* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

h1{
    text-align: center;
    margin-top: 200px;
    background-color: lightblue;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

.gallery img {
    width: 250px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: transform 0.2s, border-color 0.2s;
}

.gallery img:hover {
    transform: scale(1.05);
    border-color: #777;
   
}

.lightbox.display{
    display: none;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    width: 95%;
    height: 95%;
    border: 5px solid #fff;
    border-radius: 10px;
}

.lightbox #close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    background: none;
    border: none;
}